* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #466d19;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 560, from(#65981e), to(#184d08));
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  font-family: Helvetica, serif;
  overflow: hidden; }

.menu {
  margin-top: 30px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 0 rgba(0, 0, 0, 0.15); }

.menu__item {
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 30px; }

.menu__item_button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 15px;
  background: #90c843;
  color: #FFF;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12pt;
  text-align: center; }

.menu__item_button:disabled {
  background: #C6C6C6; }

.menu__item_button_back {
  background-color: #FFAD00; }

.scoretable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #FFAD00; }

.scoretable__row {
  border-bottom: 1px solid #FFAD00; }

.scoretable__cell {
  border-right: 1px solid #FFAD00;
  padding: 10px; }

.menu__item_textbox {
  height: 50px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3) 2px solid;
  padding: 10px; }

.menu__item_textbox:focus {
  outline: none;
  border: #1895d7 2px solid;
  color: #1895d7; }

.gamefield {
  background-color: yellow;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  min-width: 1000px;
  position: relative; }

.gametable {
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  background-color: #466d19;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 560, from(#65981e), to(#184d08));
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, #65981e, #184d08); }

.playerboard {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%; }

.secondaryplayer, .leftplayer, .rightplayer {
  height: 100%;
  width: 30%;
  float: left; }

.mainplayer {
  height: 100%;
  width: 40%;
  float: left; }

.freespace, .leftplayer__freespace, .rightplayer__freespace {
  height: 16.66666666%;
  border: 9px solid #809d29;
  border-color: rgba(208, 209, 78, 0.3);
  padding: 2%;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.place, .leftplayer__cardsplace, .rightplayer__cardsplace, .dealer__cardsplace, .mainplayer__cardsplace, .leftplayer__chipsplace, .rightplayer__chipsplace, .mainplayer__chipsplace {
  height: 33.33333333%;
  border: 9px solid #809d29;
  border-color: rgba(208, 209, 78, 0.3);
  padding: 2%;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.cards, .buttons {
  float: left;
  width: 50%; }

.actbutton {
  border: 0px;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin-top: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
  width: 120px;
  font-family: Chewy, Georgia, serif;
  text-align: center; }

.card {
  height: 100px;
  width: 70px;
  background-color: red;
  position: absolute;
  top: -400px;
  left: 0px; }

.chip {
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  position: relative;
  width: 60px !important;
  height: 60px;
  border: 10px dashed #fff;
  -webkit-box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 4px 9px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out; }

.chip span {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2em;
  line-height: 62px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  -ms-border-radius: 60px;
  border-radius: 60px; }

.chip.red {
  background-color: #f54800;
  -webkit-box-shadow: 0 0 0 #de2e04, 0 1px 0 #de2e04, 0 2px 0 #de2e04, 0 3px 0 #de2e04, 0 4px 0 #de2e04, 0 -1px 0 #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0 #de2e04, 0 1px 0 #de2e04, 0 2px 0 #de2e04, 0 3px 0 #de2e04, 0 4px 0 #de2e04, 0 -1px 0 #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 #de2e04, 0 1px 0 #de2e04, 0 2px 0 #de2e04, 0 3px 0 #de2e04, 0 4px 0 #de2e04, 0 -1px 0 #ff6d02, 0 3px 9px rgba(0, 0, 0, 0.2); }

.chip.red span {
  background-color: #eb4603;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ed4300), color-stop(1, #ef4d00));
  background-image: -moz-linear-gradient(center bottom, #ed4300 0, #ef4d00 100%);
  -webkit-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0 #de3400;
  -ms-box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0 #de3400;
  box-shadow: 0 0 0 3px #eb4503, 0 -1px 0 3px #de3400, 0 1px 0 3px #ff5100, inset 0 1px 1px #fd5410, inset 0 -1px 0 #de3400; }

.chip.yellow {
  background-color: #f3cf00;
  -webkit-box-shadow: 0 0 0 #cdaf00, 0 1px 0 #cdaf00, 0 2px 0 #cdaf00, 0 3px 0 #cdaf00, 0 4px 0 #cdaf00, 0 -1px 0 #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0 #cdaf00, 0 1px 0 #cdaf00, 0 2px 0 #cdaf00, 0 3px 0 #cdaf00, 0 4px 0 #cdaf00, 0 -1px 0 #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 #cdaf00, 0 1px 0 #cdaf00, 0 2px 0 #cdaf00, 0 3px 0 #cdaf00, 0 4px 0 #cdaf00, 0 -1px 0 #fddc00, 0 3px 9px rgba(0, 0, 0, 0.2); }

.chip.yellow span {
  background-color: #ebc700;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ebcd00), color-stop(1, #ecc300));
  background-image: -moz-linear-gradient(center bottom, #ebcd00 0, #ecc300 100%);
  -webkit-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0 #ceaf00;
  -ms-box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0 #ceaf00;
  box-shadow: 0 0 0 3px #eec900, 0 -1px 0 3px #ceaf00, 0 1px 0 3px #e9dc00, inset 0 1px 1px #e9dc00, inset 0 -1px 0 #ceaf00; }

.chip.blue {
  background-color: #007cff;
  -webkit-box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 3px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 #0263e6, 0 1px 0 #0263e6, 0 2px 0 #0263e6, 0 3px 0 #0263e6, 0 4px 0 #0263e6, 0 -1px 0 #01afff, 0 3px 9px rgba(0, 0, 0, 0.2); }

.chip.blue span {
  background-color: #0261f1;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0274f3), color-stop(1, #037ff4));
  background-image: -moz-linear-gradient(center bottom, #0274f3 0, #037ff4 100%);
  -webkit-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0 #0261f1;
  -ms-box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0 #0261f1;
  box-shadow: 0 0 0 3px #0277f4, 0 -1px 0 3px #0265f1, 0 1px 0 3px #008dff, inset 0 1px 1px #0784ff, inset 0 -1px 0 #0261f1; }
