.cardset {
  margin-left: 50px;
  height: 118px;
}

.card {
  //height: 100px;
  //width: 70px;
  //background-color: red;
  //position: absolute;
  //top: -400px;
  //left: 0px;
  margin-left: -50px;
  float: left;
  background:url('/img/card.gif') 0 0;
  width: 81px;
  height: 115px;
}