* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  min-height: 600px;
}

body {
  @extend html;
  background-color: #466d19;
  background-image: -webkit-gradient(radial,50% 50%,0,50% 50%,560,from(#65981e),to(#184d08));
  background-image: -webkit-radial-gradient(center center,ellipse farthest-corner,#65981e,#184d08);
  background-image: -moz-radial-gradient(center center,ellipse farthest-corner,#65981e,#184d08);
  background-image: -ms-radial-gradient(center center,ellipse farthest-corner,#65981e,#184d08);
  font-family: Helvetica, serif;
  overflow: hidden;
}

@import "menu";
@import "game";
@import "card";
@import "chip";